.primary-font{
    font-family: "Manrope", sans-serif;
}
.me{
    border: 1px solid gray;
    border-radius: 12px;
}
.me-two{
    border: 1px solid gray;
    border-style: dotted;
    border-radius: 15px;
}
