.primary-font{
    font-family: "Manrope", sans-serif;
}
.me{
    border: 1px solid gray;
    border-radius: 12px;
}
.me-two{
    border: 1px solid gray;
    border-style: dotted;
    border-radius: 15px;
}

/* bg img */
.discuss-bg{
      background-image: url('./assets/bg.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
}
